* {
	font-size: 13px;
	font-family: monospace;
}

window#waybar {
	background: #292b2e;
	color: #00FFFF;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark
{
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light
{
	color: #292b2e;
	background: #1a1a1a;
}

#workspaces,
#mpd,
#pulseaudio,
#power-profiles-daemon,
#memory,
#battery,
#clock
{
	background: #1a1a1a;
}

#tray,
#idle_inhibitor,
#network,
#cpu,
#temperature
#taskbar
{
	background: #292b2e;
	color: #00ffff;
}

#temperature.critical {
	color: #ffff00;
}

#workspaces button {
	padding: 0 2px;
	color: #00FFFF;
}
#workspaces button.empty {
	color: #008888;
}
#workspaces button.visible {
	color: #CC00FF;
}
#workspaces button.urgent {
  background: #660000;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #00FFFF;
	border: #1a1a1a;
	padding: 0 3px;
}

#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #00ff00;
}
#battery {
	color: #859900;
}
#disk {
	color: #b58900;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 5px;
}
