completions
fish_variables
functions

conf.d/abbr_tips.fish
conf.d/fish-exa.fish
conf.d/fzf.fish
conf.d/git.fish
conf.d/plugin-sudope.fish
conf.d/rustup.fish
conf.d/puffer_fish_key_bindings.fish
conf.d/direnv.fish
